<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dain23.management.mapper.ManagementMapper">
    
    <select id="selectManagementInUse" resultType="Management">
	    SELECT 
			dp.id AS placeId,
			dc.short_name AS comShortName,
			dc.full_name AS comFullName,
			dp.code AS placeCode,
			dp.run,
			dp.`open`,
			dp.old_version,
			dp.used,
			COALESCE(dp.url, '#') AS url,
			dp.short_name AS placeShortName
		FROM dain_place dp 
		JOIN dain_company dc 
			ON dc.id = dp.company_id
		WHERE 
			dp.used = true
			AND code != 'management'
		ORDER BY 
			dp.short_name
	</select>
	
	
	<select id="selectPlaceLogger" resultType="String">
		SELECT 
			code  
		FROM 
			dain_logger 
		WHERE 
			place_id = #{placeId}
			AND used = true 
		ORDER BY 
			code ASC
	</select>
	
	
	<select id="selectLoggerStatus" resultType="LoggerStatus">
	    SELECT 
	    	dl.id AS loggerId,
			dl.place_id,
			dl.code AS loggerCode,
			dl.name AS loggerName,
			dl.cdma_no,
			dl.install_dt,
			dl.uploaded_at,
			dl.cycle_check,
			dc.id AS pcId,
			dc.name AS pcName 
		FROM dain_logger dl 
		JOIN dain_computer dc 
			ON dc.id = dl.computer_id
		WHERE 
			dl.code = #{loggerCode}
			AND dl.used = true
	</select>
	
	
	<update id="updateLoggerInfo">
		UPDATE 
			dain_logger  
		SET 
			name = #{params.name},
			install_dt = #{params.install_dt},
			cdma_no = #{params.cdma_no},
			computer_id = #{params.computer_id}
		WHERE 
			code = #{params.code}
	</update>
	
	
	<update id="updateOpenOrClose">
		UPDATE dain_place SET open = #{params.open} WHERE id = #{params.id};
	</update>
	
	
	<select id="selectLoggerDetail" resultType="Map">
		SELECT 
			dp.short_name AS '현장명',
			dl.name AS '구분명',
			dl.code AS '로거명',
			dl.cdma_no AS 'CDMA NO',
			dl.install_dt AS '최초측정일',
			dc.name AS '수집 PC',
			CASE
				WHEN dl.used = true THEN '운영'
				ELSE '종료'
			END AS '운영상태'
		FROM dain_logger dl 
		JOIN dain_place dp 
			ON dp.id = dl.place_id 
		JOIN dain_computer dc 
			ON dc.id = dl.computer_id
		ORDER BY dl.used DESC, dp.short_name, dl.code
	</select>
	
	
	<select id="findSensorInLogger" resultType="Map">
		SELECT 
			ds.id AS sensorId
			,ds.code AS sensorCode
			,dp.code AS placeCode
			,dl.cycle_check AS cycle
		FROM dain_sensor ds
		JOIN dain_place dp 
			ON dp.id = ds.place_id 
		JOIN dain_sensor_type dst 
			ON dst.id = ds.sensor_type_id 
		JOIN dain_logger dl 
			ON dl.id = ds.logger_id 
		WHERE 
			ds.logger_id = #{params.loggerId} 
			AND ds.used = true 
			AND dst.id NOT IN (5, 6) 
		ORDER BY 
			ds.name
	</select>
	
	
	<select id="selectTransitionData" resultType="Map">
		SELECT 
		    measured_at AS date
		    ,ROUND(raw_val, 3) AS raw
		FROM data_${params.placeCode}
		WHERE 
			sensor_id = #{params.sensorId}
			AND raw_val != 0
			AND used = true 
		ORDER BY
		    date;
	</select>
	
	
	<select id="selectAvgTransitionData" resultType="Map">
		SELECT 
		    DATE(measured_at) AS date
		    ,ROUND(AVG(raw_val), 3) AS raw
		FROM data_${params.placeCode}
		WHERE 
			sensor_id = #{params.sensorId}
			AND raw_val != 0
			AND used = true 
		GROUP BY 
		    date
		ORDER BY
		    date;
	</select>
	
	
	<select id="countSensorDataRows">
		SELECT 
			COUNT(*) 
		FROM data_${params.placeCode} 
		WHERE 
			sensor_id = #{params.sensorId}
			AND used = true
	</select>
	
	
	<select id="selectAnalysisData" resultType="Map">
		SELECT
		    SUM(raw_val != 0) AS total_success,
		    SUM(raw_val = 0)  AS total_fail,
		    SUM(
		        (measured_at >= CURDATE())
		        AND (measured_at <![CDATA[<]]> CURDATE() + INTERVAL 1 DAY)
		        AND (raw_val != 0)
		    ) AS today_success,
		    SUM(
		        (measured_at >= CURDATE())
		        AND (measured_at <![CDATA[<]]> CURDATE() + INTERVAL 1 DAY)
		        AND (raw_val = 0)
		    ) AS today_fail
		FROM data_${params.placeCode}
		WHERE sensor_id = #{params.sensorId}
	</select>
	
	
	<select id="selectFailRecord" resultType="Map">
		SELECT 
			DATE_FORMAT(measured_at, '%Y-%m-%d %H:%i:%s') AS measured
			,raw_val AS raw
			,'실패' AS status
		FROM data_${params.placeCode} 
		WHERE 
			sensor_id = #{params.sensorId}
			AND raw_val = 0
		ORDER BY 
			measured_at DESC
	</select>
	
</mapper>



       