
<!-- 데이터 자동화 >> dataRemove 컨텐츠 -->
<div class="container-xl mt-3">
	<div class="append-card-datadel">
		<div class="append-inner">
			<div class="append-guide p-4 rounded">
				<h1>데이터 자동화 > <small>데이터 삭제</small></h1>
				<div class="append-input mb-3 mt-3">
		  		    <strong>역할</strong>
	  			</div>
	  			<ul class="list-unstyled ml-3">
		  		    <li>선택한 현장내 진동, 소음계의</li>
		  		    <li>DB에 업로드된 데이터 중에서</li>
		  		    <li>삭제 기준값 이상인 데이터 삭제 기능</li>
	  			</ul>
				<div class="append-input mb-3 mt-3">
					<strong>사용 팁</strong>
				</div>
				<ul class="list-unstyled ml-3">
					<li>입력한 최초 적용일시의 데이터부터 삭제 진행</li>
					<li>마지막 검증 데이터의 일시가 최종 적용일시로 저장</li>
				</ul>
			</div>

			<div id="AppendForm" class="append-form">
				<div class="append-input mb-3">
					<div class="append-input-inner">
						<label class="form-label">구분 명칭</label>
						<input id="name" type="text" class="form-control" placeholder="구분 명칭을 입력하세요">
					</div>
					<div>
						<label class="form-label">현장</label>
						<select class="form-select" id="place" onchange="ComboChangePostMethod(this)">
							<option value="" disabled selected>선택해주세요</option>
							<option th:each="place : ${placeCombo}" th:value="${place.place}" th:text="${place.kor_name}"></option>
						    </option>
                        </select>
					</div>
                </div>
				<div class="append-input mb-3">
					<div class="append-input-inner">
						<label class="form-label">로거</label>
						<select class="form-select" id="logger" onchange="LoggerChangeFilterSensorCombo()">
							<option value="" disabled selected>선택해주세요</option>
							
						    </option>
                        </select>
					</div>
					<div>
						<label class="form-label">센서</label>
						<select class="form-select" id="sensor">
							<option value="" disabled selected>선택해주세요</option>
							
						    </option>
                        </select>
					</div>
                </div>
				<div class="path-section-bar"></div>
				<div class="append-input mb-3">
					<div class="append-input-inner">
						<div class="form-label">최초 적용일시</div>
						<input id="start_dt" type="datetime-local" class="form-control">
					</div>
					<div>
						<div class="form-label">최종 적용일시</div>
						<input id="last_dt" type="datetime-local" class="form-control" disabled>
					</div>
				</div>
				<div class="path-section-bar"></div>
				<div class="append-input mb-3">
					<div class="append-input-inner">
						<div class="form-label">삭제 기준값 (이상)</div>
						<input id="del_point" type="text" class="form-control" placeholder="삭제 기준값 수치를 입력하세요">
					</div>
					<div class="mb-3">
						<div class="form-label">&nbsp;</div>
						<div class="append-button mt-3">
							<div class="d-flex justify-content-end align-items-center"></div>
							<div class="d-flex justify-content-end align-items-center">
								<span>실행 여부</span>
								<label class="form-check form-check-single form-switch">
									<input id="run" class="form-check-input" type="checkbox">
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="append-button-datadel">
					<div>
						<a class="btn btn-6 btn-outline-primary" onclick="ResetAppendForm()">초기화</a>
					</div>
					<div>
						<a class="btn btn-6 btn-outline-success mx-1" onclick="SaveAppendForm()">저장</a>
						<a class="btn btn-6 btn-outline-danger" onclick="DeleteAppendForm()">삭제</a>
					</div>
					<input type="hidden" id="appendIdx">
				</div>
			</div>
		</div>
	</div>
</div>

<div th:fragment="moveAndBackup" class="container-xl mt-3">
	<div class="card">
		<div class="table-title">
			<div>
				<span class="table-title-text">Automatic data delete</span>
			</div>
			<div class="d-flex gap-3 align-items-center">
				<div><strong>검색 조건</strong></div>
				<select class="form-select select-filter" id="select_pc" onchange="onSelectFilterChange(this)">
					<option value="">전체</option>
					
				    </option>
                </select>
				<select class="form-select select-filter" id="select_parsing" onchange="onSelectFilterChange(this)">
					<option value="">전체</option>
					
				</select>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table card-table table-vcenter text-nowrap datatable" id="collect_table">
				<thead>
					<tr>
						<th style="width: 13%">구분 명칭</th>
						<th style="width: 13%">현장</th>
						<th style="width: 13%">로거</th>
						<th style="width: 13%">센서 코드</th>
						<th style="width: 20%">센서 명칭</th>
						<th style="width: 7%">삭제 기준</th>
						<th style="width: 14%">최종 적용일시</th>
						<th style="width: 7%">실행 여부</th>
					</tr>
				</thead>
				<tbody id="collect-body">
					<tr th:each="object : ${selectDataDel}" th:attr="data-idx=${object.idx}, data-name=${object.name}, data-place=${object.place}, 
						data-logger=${object.logger}, data-senidx=${object.sen_idx}, data-delpoint=${object.del_point}, 
						data-startdt=${object.start_dt}, data-lastdt=${object.last_dt}, data-run=${object.run}" class="row-list-tr" ondblclick="SelectedRow(this)">
						<td class="ellipsis-cell" th:text="${object.name}"></td>
						<td class="ellipsis-cell" th:text="${object.place}"></td>
						<td class="ellipsis-cell" th:text="${object.logger}"></td>
						<td class="ellipsis-cell" th:text="${object.sen_name}"></td>
						<td class="ellipsis-cell" th:text="${object.sen_info}"></td>
						<td class="ellipsis-cell" th:text="${object.del_point}"></td>
						<td class="ellipsis-cell" th:text="${#dates.format(object.last_dt, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td><span class="badge" th:classappend="${object.run == 1} ? 'bg-info' : 'bg-warning'" th:text="${object.run == 1 ? '실행' : '정지'}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card-footer">
			<div class="row g-2 justify-content-center justify-content-sm-between">
				<div class="col-auto d-flex align-items-center">
					<p class="m-0 text-secondary"><strong id="total_count_row" th:text="${'Total ' + selectDataDel.size()}"></strong></p>
				</div>
            </div>
		</div>
	</div>
	<div class="bottom-blank"></div>
</div>