
<!-- 파일 관리 >> moveAndBackup 컨텐츠 -->
<div class="container-xl mt-3">
	<h1>스케줄러 > 계측 업로드</h1>
	<div class="log-inner">
		<h3 class="log-title">실행 로그</h3>
		<div class="upload-log-form">
			<table class="table card-table table-vcenter text-nowrap datatable" id="upload-table">
				<thead>
					<tr>
						<th style="width: 15%">실행 일시</th>
						<th style="width: 15%">현장 명칭</th>
						<th style="width: 15%">로거 코드</th>
						<th style="width: 11%">데이터 수량</th>
						<th style="width: 11%">실행 상태</th>
						<th style="width: 33%">실행 결과</th>
					</tr>
				</thead>
				<tbody id="log-body">
					<th:block th:each="row : ${selectUplodaLog}">
						<tr>
							<td class="ellipsis-cell" th:text="${row.runTime}"></td>
							<td class="ellipsis-cell" th:text="${row.placeName}"></td>
							<td class="ellipsis-cell" th:text="${row.loggerCode}"></td>
							<td class="ellipsis-cell" th:text="${row.rowCount}"></td>
							<td class="ellipsis-cell"
							    th:classappend="${row.action == 'error'} ? ' val-color-red' : ' val-color-blue'"
							    th:text="${row.action}">
							</td>
							<td class="ellipsis-cell" th:text="${row.logMsg}" style="font-size: 12px;"></td>
						</tr>
					</th:block>
					
					<th:block th:if="${#lists.isEmpty(selectUplodaLog)}">
						<tr>
							<td colspan="6" class="text-center text-muted">조회된 오늘 데이터가 없습니다.</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div th:fragment="uploadMeasurements" class="container-xl mt-3">
	<div class="card">
		<div class="table-title">
			<div>
				<span class="table-title-text">업로드 관련, 로거 정보</span>
			</div>
			<div class="d-flex gap-3 align-items-center">
				<a href="http://192.168.0.125:1880/#flow/d5fce182d6d20d72" role="button" target="_blank">
					<span class="company-korname tooltip-icon" data-tooltip="회사 내부망에서만 접근 가능">업로드 실행 바로가기</span>
				</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table card-table table-vcenter text-nowrap datatable" id="collect-table">
				<thead>
					<tr>
						<th style="width: 13%">현장 명칭</th>
						<th style="width: 13%">로거 코드</th>
						<th style="width: 10%">수집 PC</th>
						<th style="width: 40%">파일 경로</th>
						<th style="width: 15%">최근 데이터 일시</th>
						<th style="width: 9%">실행 여부</th>
					</tr>
				</thead>
				<tbody id="collect-body">
					<th:block th:each="row : ${selectLogger}">
						<tr th:data-id="${row.id}" th:data-run="${row.run}" th:data-logger="${row.loggerCode}"
							class="row-list-tr" ondblclick="ChangeUploadRunStatus(this)">
							<td class="ellipsis-cell" th:text="${row.placeName}"></td>
							<td class="ellipsis-cell" th:text="${row.loggerCode}"></td>
							<td class="ellipsis-cell" th:text="${row.pcName}"></td>
							<td class="ellipsis-cell" th:text="${row.filePath}"></td>
							<td class="ellipsis-cell" th:text="${row.uploadedAt}"></td>
							<td><span class="badge" th:classappend="${row.run ? 'bg-info' : 'bg-warning'}" th:text="${row.run ? '실행' : '정지'}"></span></td>
						</tr>
					</th:block>
					
					<th:block th:if="${#lists.isEmpty(selectLogger)}">
						<tr>
							<td colspan="6" class="text-center text-muted">로거를 먼저 추가하세요.</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div class="card-footer">
			<div class="row g-2 justify-content-center justify-content-sm-between">
				<div class="col-auto d-flex align-items-center">
				</div>
            </div>
		</div>
	</div>
	<div class="bottom-blank"></div>
</div>