
* {
    user-select: none;
}

#loadingOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	z-index: 9999;
	text-align: center;
	pointer-events: all;
}

#loadingOverlay .loading-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.rotate {
	animation: spin 1s linear infinite;
	width: 50px;
	height: 50px;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
