
table {
	text-align: center;
	font-size: 12px;
	padding-top:10px;
}

tr, td {
	padding: 10px;
	border-bottom: 1px solid #dadada;
	white-space:nowrap;
}

a:hover {
	cursor: pointer;
}

.dateFilter {
	width: 120px;
}

.data-tr:hover {
	background-color: aliceblue;
}
